/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e52f37;
    --black: #000;
    --white: #fff;
    --height-header: 92px;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

p {
    font-size: 1.7rem;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: inline-block;
    border: none;
    padding: 12px 18px;
    border-radius: 24px;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.btn.btn--bc-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.text-center {
    text-align: center;
}

